@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html,body{
    font-family: 'Roboto', sans-serif;
}
body {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #3e3f5e;
    font-size: 14px;
    letter-spacing: 0.1px;
}
.university-tag {
    display: inline-block;
    position: relative;
    width: 100%;
}
.university-tag > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.university-tag .uni-img > figure img {
    border: 2px solid #fff;
    border-radius: 100%;
    display: inline;
    padding: 6px;
    max-width: 120px;
}
.university-tag .sharing-options {
    position: absolute;
    right: 6px;
    top: 0;
    width: auto;
}
.university-tag .uni-name {
    position: absolute;
    left: 15%;
    top: 40px;
    width: auto;
}
